.incomes {
    padding: 2rem;
  
    table {
      width: 100%;
      border-collapse: collapse;
      th, td {
        padding: 1rem;
        text-align: left;
      }
      th {
        background-color: #8BC34A; // Un tono diferente de verde
        color: white;
      }
      tr:nth-child(even) {
        background-color: #fafafa;
      }
    }
  }
  